<div class="rectangleInfoUtilisateur">
  <div class="left">
    <div class="header">
      <h3>{{ utilisateurName }}</h3>
    </div>
  </div>
  <div class="right">
    <div class="info-section">
      <p class="info-label">URL Web :</p>
      <p class="info-value">
  <a [href]="utilisateurWebUrl" style="color: #FAEAB1;">{{ utilisateurWebUrl }}</a>
      </p>
    </div>
    <div class="info-section">
      <p class="info-label">Nombre de projets :</p>
      <p class="info-value">{{ utilisateurNombreProjets || 0 }}</p>
    </div>
    <div class="info-section">
      <p class="info-label">Projets :</p>
      <div class="info-value">
        <p *ngIf="!projectLinks || projectLinks.length === 0">Aucun projet trouvé</p>
          <li *ngFor="let link of projectLinks">
            <a [href]="link" target="_blank" rel="noopener noreferrer">{{ link }}</a>
          </li>
      </div>
    </div>
  </div>
</div>
