<div class="rectangle">
  <div class="project-header">
    <h3>{{ projectName || 'Nom du projet' }}</h3>
  </div>
  
  <div class="description-section">
    <p class="label">Description :</p>
    <p class="description">{{ projectDescription || 'Aucune description disponible' }}</p>
  </div>
  
  <div class="info-section">
    <p class="info-value">{{ projectVersion || 'Non spécifiée' }}</p>
  </div>
  
  <div class="info-section">
    <p class="info-value">{{ projectCreatedDate || 'Non spécifiée' }}</p>
  </div>
  

  <div class="creator-section">
    <p class="creator-label">Par : <span class="creator-name">{{ projectCreator || 'Non spécifié' }}</span></p>
  </div>
  
  <div class="link-section">
    @if (projectOriginalLink) {
      <a [href]="projectOriginalLink" class="project-link">
        {{ projectOriginalLink }}
      </a>
    } @else {
      <p class="info-value">Lien non disponible</p>
    }
  </div>
</div>
