input {
  background-color: #ededed;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 3px;
  margin: 5px;
}

.container {
  display: flex;
}

.tbody .tr {
  cursor: pointer;
}

.tr {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 2px;

  &.hoverable:hover {
    background-color: #f0f0f0;
  }

  &.selected {
    background-color: #d8d8d8;
  }
}
