<div class="app-container">
  <h1>{{ title() }}</h1>
  <app-test-graph #testGraph (projectSelected)="onProjectSelected($event)" (utilisateurSelected)="onUtilisateurSelected($event)"></app-test-graph>
  
   
  <app-floating-toolbar 
    [testGraph]="testGraph"
    (informationClicked)="onInformationClicked()">
  </app-floating-toolbar>

  <!-- affiche seulement app-projects-informations si infoVisible est true et qu'un projet est sélectionné -->
  <app-projects-informations 
    *ngIf="infoVisible && selectedType === 'project'"
    [projectName]="selectedProjectName"
    [projectDescription]="selectedProjectDescription"
    [projectThematic]="selectedProjectThematic"
    [projectVersion]="selectedProjectVersion"
    [projectCreatedDate]="selectedProjectCreatedDate"
    [projectCreator]="selectedProjectCreator"
    [projectOriginalLink]="selectedProjectOriginalLink">
  </app-projects-informations>

  <app-utilisateur-information
    *ngIf="infoVisible && selectedType === 'user'"
    [utilisateurName]="utilisateurName"
    [utilisateurWebUrl]="utilisateurWebUrl"
    [utilisateurNombreProjets]="utilisateurNombreProjets"
    [projectLinks]="utilisateurProjectLinks">
  </app-utilisateur-information>

</div>



