<div class="app-container">
  <div class="graph" #projectsChart style="height: 100vh; border: 1px solid lightgray"></div>

  <div class="list-elements">
    <div class="search-bar">
      <input
        #search
        type="text"
        name="search"
        (input)="onSearch($event.target.value)"
        placeholder="Rechercher un sujet"
      />
    </div>

    <div class="nb-elements">element charger : {{ elements.length }}</div>

    @if (isLoading) {
    <div><img src="images/projects.png" sizes="12px" /></div>
    }

    <div class="subject-display">
      <div class="table">
        <div class="thead">
          <div class="tr">
            <div class="th">Element</div>
          </div>
        </div>
        <div class="tbody">
          @for (elt of elements; track $index) {
          <div class="tr" (click)="onItemSelected(elt, 'project')">
            {{ elt.id }}
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  @switch (selected_elements?.type) { @case ('project') {
  <app-projects-informations [project]="selected_elements" />
  } @case ('group') {
  <app-group-informations [group]="selected_elements" />
  } @case ('user') {
  <app-utilisateur-information [user]="selected_elements" />
  } }

  <div class="description-element">
    <div class="subject-display">
      <div class="table">
        <div class="thead">
          <div class="tr">
            <div class="th">Element</div>
          </div>
        </div>
        <div class="tbody">
          {{ selected_elements?.id }}
          {{ selected_elements?.name }}
        </div>
      </div>
    </div>
  </div>

  <app-floating-toolbar (toolClicked)="onToolbarItemClicked($event)" />

  <!-- affiche seulement app-projects-informations si infoVisible est true et qu'un projet est sélectionné -->
  <!-- @if (infoVisible && selectedType === 'project') {
  <app-projects-informations
    [projectName]="selectedProjectName"
    [projectDescription]="selectedProjectDescription"
    [projectThematic]="selectedProjectThematic"
    [projectVersion]="selectedProjectVersion"
    [projectCreatedDate]="selectedProjectCreatedDate"
    [projectCreator]="selectedProjectCreator"
    [projectOriginalLink]="selectedProjectOriginalLink"
    [projectReadme]="selectedProjectReadme"
  >
  </app-projects-informations>
  } @if (infoVisible && selectedType === 'user') {
  <app-utilisateur-information
    [utilisateurName]="utilisateurName"
    [utilisateurWebUrl]="utilisateurWebUrl"
    [utilisateurNombreProjets]="utilisateurNombreProjets"
    [projectLinks]="utilisateurProjectLinks"
    [projects]="utilisateurProjects"
  >
  </app-utilisateur-information>
  } @if (infoVisible && selectedType === 'group') {
  <app-group-info
    [name]="groupName"
    [description]="groupDescription"
    [webUrl]="groupWebUrl"
    [createdAt]="groupCreatedAt"
    [members]="groupMembers"
  >
  </app-group-info>
  } -->
</div>
