button {
  background-color: #334443;
  border: none;
  color: #FAF8F1;
  padding: 0.8vw 1.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8vw;
  cursor: pointer;
  border-radius: 0.2vw;
  margin: 0.2vw;
  box-shadow:  0.8vw 0.8vw 2.4vw #bebebe,
             -0.8vw -0.8vw 2.4vw #ffffff;
}

input {
  outline: none;
  padding: 0.8vw;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8vw;
  cursor: pointer;
  border-radius: 0.2vw;
  margin: 0.2vw;
  border-radius: 2vw;
  background: #FAEAB1;
  box-shadow:  0.8vw 0.8vw 2.4vw #bebebe,
             -0.8vw -0.8vw 2.4vw #ffffff;
}
